img{
  max-width: 100%;
}

header{
  border: 1px ;
  text-align: center;
}

header.header{
  /* border: 1px solid black; */
  width: 100%;
  max-width: 1920px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F6EFE3;
  position: sticky;
  z-index: 1000;
  top: 0;
  text-align: center;
  /* text-align: center; */
}


/* 隱藏 checkbox */
div.nav_block input {
  display: none;
}

/* 漢堡按鈕 */
label {
  /* border: 1px solid red; */
  display: none;
  padding: 15px;
  float: right;
  padding-right: 40px;
  line-height: 20px;
  cursor: pointer;
  /* vertical-align: middle; */
}

@media (min-width: 991.98px){
/* label{
    display: none;
  } */
  div.nav_block{
    display: inline-block;
    /* border: 1px solid green; */
    width: 100%;
    max-width: 1920px;
    text-align: center;
  }
  .logo{
      /* border: 1px solid red; */
    margin-left: 0px;
  }
  nav.input {
    display: none;
  }
  header.header nav.nav{
    /* border: 1px solid black; */
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 160px;
  }


  header.header nav.nav ul.nav_list{
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  ul.nav_list li.nav_item{
    /* border: 1px solid yellow; */
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }

  header.header span {
    /* border: 1px solid yellow; */
    display: inline-block;
    vertical-align: middle;
  }

  header.header img {
     vertical-align: middle;
   }

  #choose{
    /* border: 1px solid purple; */
    padding: 5px 10px;

    /* 第一步 */
    position: relative;
  }


  #choose:hover ul.foodchoose{
    /* border: 1px solid red; */
    /* 第三步 */
    display: block;
    z-index: 10;
  }


  ul.foodchoose{
    /* border: 1px solid black; */
    list-style: none;
    width: 130px;
    margin: 0;
    padding: 0;

    /* 第二步 */

    position: absolute;
    right: 0;
    top: 100%;
    display: none;

  }

  ul.foodchoose > li{
    border: 1px solid #8C533D;
    width: 100%;
  }

  li a.link_style2{
    /* border: 1px solid orange; */
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  li a.link_style2:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  #nav_journey{
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.foodchoose li ul{
    display: none;
    float: right;
    position: absolute;
    margin-left: 130px;
    margin-top: -43px;
    padding: 0;
    font-size: 20px;
  }

  ul.foodchoose li:hover > ul{
    display: block;
  }

  ul.foodchoose ul li{
    border: 1px solid #8C533D;
    display: inline-block;
    list-style: none;
    /* height: 40px; */
    width: 80px;
    text-align: center;
    /* padding: 5px 0; */
    color: #8C533D;
    background-color: #F6EFE3;
    padding: 5px;
  }

  ul.foodchoose ul li a.link_style3{
    /* border: 1px solid orange; */
    display: block;
    text-decoration: none;
    /* width: 100px; */
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.foodchoose ul li a.link_style3:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  #journey{
    /* border: 1px solid purple; */
    padding: 5px 10px;

    /* 第一步 */
    position: relative;
  }


  #journey:hover ul.journeychoose{
    /* border: 1px solid red; */
    /* 第三步 */
    display: block;
    z-index: 10;
  }


  ul.journeychoose{
    /* border: 1px solid black; */
    list-style: none;
    width: 130px;
    margin: 0;
    padding: 0;

    /* 第二步 */

    position: absolute;
    right: 0;
    top: 100%;
    display: none;

  }

  ul.journeychoose > li{
    border: 1px solid #8C533D;
    width: 100%;
  }

  ul.journeychoose > li > a.link_style2{
    /* border: 1px solid orange; */
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.journeychoose > li > a.link_style2:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  /* 隱藏 checkbox */
  input {
    display: none;
  }

  /* 漢堡按鈕 */
  /* label {
    display: none;
  } */
}


@media (max-width: 992px){
  div.nav_block{
    display: inline-block;
    /* border: 1px solid green; */
    width: 100%;
    max-width: 1920px;
    text-align: center;
  }
  .logo{
      /* border: 1px solid red; */
    margin-left: 0px;
  }
  header.header nav.nav{
    border: 1px solid transparent;
    /* display: none; */
    position: fixed;
    top: -1000px;
    opacity: 0;
    z-index: -1;
    transition: all ease 1s;
    /* float: right; */
    /* margin-top: 5px; */
  }


  header.header nav.nav ul.nav_list{
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  ul.nav_list li.nav_item{
    border: 1px solid transparent;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    /* display: inline-block; */
    /* margin-right: 15px; */
  }

  ul.nav_list li.nav_item:first-child{
    margin-top: 0
  }



  header.header span {
    /* border: 1px solid pink; */
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
  }

  li.nav_item img {
     vertical-align: middle;
     width: 40px;
     height: 40px;
   }

  #choose{
    /* border: 1px solid purple; */
    padding: 5px 10px;

    /* 第一步 */
    position: relative;
  }


  #choose:hover ul.foodchoose{
    /* border: 1px solid red; */
    /* 第三步 */
    display: block;
    z-index: 10;
  }


  ul.foodchoose{
    /* border: 1px solid black; */
    list-style: none;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;

    /* 第二步 */

    /* position: absolute;
    right: 0;
    top: 100%;
    display: none; */

  }

  ul.foodchoose > li{
    border: 1px solid #8C533D;
    width: 100%;
  }

  li a.link_style2{
    /* border: 1px solid orange; */
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  li a.link_style2:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  #nav_journey{
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.foodchoose li ul{
    display: none;
    float: right;
    position: absolute;
    margin-left: 130px;
    margin-top: -37px;
    padding: 0;
    font-size: 20px;
  }

  ul.foodchoose li:hover > ul{
    display: block;
  }

  ul.foodchoose ul li{
    border: 1px solid #8C533D;
    display: inline-block;
    list-style: none;
    /* height: 40px; */
    width: 80px;
    text-align: center;
    /* padding: 5px 0; */
    color: #8C533D;
    background-color: #F6EFE3;
    padding: 5px;
  }

  ul.foodchoose ul li a.link_style3{
    /* border: 1px solid orange; */
    display: block;
    text-decoration: none;
    /* width: 100px; */
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.foodchoose ul li a.link_style3:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  #journey{
    /* border: 1px solid purple; */
    padding: 5px 10px;

    /* 第一步 */
    /* position: relative; */
  }


  #journey:hover ul.journeychoose{
    /* border: 1px solid red; */
    /* 第三步 */
    /* display: block;
    z-index: 10; */
  }


  ul.journeychoose{
    /* border: 1px solid black; */
    list-style: none;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    /* 第二步 */

    /* position: absolute; */
    /* right: 0; */
    /* top: 100%; */
    /* display: none; */

  }

  ul.journeychoose > li{
    border: 1px solid #8C533D;
    width: 100%;
    text-align: center;
  }

  ul.journeychoose > li > a.link_style2{
    /* border: 1px solid orange; */
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #8C533D;
    background-color: #F6EFE3;
  }

  ul.journeychoose > li > a.link_style2:hover{
    color: #F6EFE3;
    background-color: #8C533D;
  }

  label {
    display: block;
  }

  input:checked ~ nav.nav{
    /* display: block; */
    opacity: 1;
    position: static;
  }

}

/* ==================== footer  ===================*/


footer.footer{
  /* border: 1px solid black; */
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: #F6EFE3;
}

div.under{
  /* border: 1px solid blue; */
  display: inline-block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

div.copy{
  /* border: 1px solid red; */
  display: inline-block;
  width: auto;
  text-align: left;
  margin: 40px 0;
  color: #8C533D;
}

div.icon{
  /* border: 1px solid black; */
  display: inline-block;
  width: auto;
  text-align: center;
  color: #8C533D;
    margin-bottom: 20px;
}

div.icon img{
  margin-right: 10px;
}

a.link_style{
  color: #8C533D;
}

@media screen and (max-width: 575.98px){
  footer.footer{
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
  }
  div.under{
    width: 75%;
    max-width: 576px;
    display: block;
    text-align: center;
  }
  div.copy{
    width: 100%;
  }
  div.icon{
    width: 100%;
    margin-top: 10px;
    /* display: block; */

  }
}
