@import "../css/bobo_headerfooter.css";

body{
  margin: 0;
  padding: 0;
}

#nav_map{
  color: black;
}

header.header{
  background-color: #FBC7C3;
}

ul.foodchoose > li > a.link_style2{
  background-color: #FBC7C3;
}

ul.foodchoose > li > a.link_style2:hover{
  background-color: #8C533D;
}

ul.foodchoose ul li{
  background-color: #FBC7C3;
}

ul.foodchoose ul li a.link_style3{
  background-color: #FBC7C3;
}

#nav_journey{
  background-color: #FBC7C3;
}

ul.journeychoose > li > a.link_style2{
  background-color: #FBC7C3;
}

div.under{
  background-color: #FBC7C3;
}

.main{
  border: 1px solid blue;
  height: 500px;
  width: auto;
  text-align: center;
}
