@import "../css/bobo_headerfooter.css";
/* @import "../css/foodmap_js.css"; */

body{
  margin: 0;
  padding: 0;
}

#nav_map{
  color: black;
  z-index: 90;
}

img{
  max-width: 100%;
}

.main{
  /* border: 1px solid blue; */
  height: auto;
  width: auto;
  text-align: center;
  white-space: nowrap;
}

div.map_block{
  text-align: center;
  font-size: 0;
}

#myMap {
  width: 90vw;
  height: 350px;
  display: inline-block;
}

div.map{
  /* border: 1px solid black; */
  margin-top: 10px;
  text-align: center;
}

div.mapchoose{
  /* border: 1px solid red; */
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  white-space:nowrap;
}

div.mapchoose ul.map_list{
  /* border: 1px solid blue; */
  margin: 5px auto;
}

ul.map_list li.mapmap{
  /* border: 1px solid green; */
  list-style: none;
  display: inline-block;
  /* text-align: center; */
  /* margin: 0px auto; */
  margin-right: 30px;
  /* margin-bottom: 0; */
}

button.snackbtn{
  /* border: 1px solid orange; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 30px;
  font-size: 18px;
}

button.dessertbtn{
  /* border: 1px solid orange; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FBC7C3;
  border-radius: 30px;
  font-size: 18px;
}


button.restaurantbtn{
  /* border: 1px solid orange; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FABB7C;
  border-radius: 30px;
  font-size: 18px;
}

button.snackbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.dessertbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.restaurantbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}


li.mapmap{
  /* border: 1px solid black; */
  padding: 5px 10px;

  /* 第一步 */
  position: relative;
}


li.mapmap:hover ul.fm_snackchoose{
  /* border: 1px solid transparent; */
  /* 第三步 */
  display: block;
  z-index: 10;
}


ul.fm_snackchoose{
  /* border: 1px solid transparent; */
  list-style: none;
  width: 100px;
  margin: 0;
  padding: 0;
  background-color: #8C533D;
  margin-right: 11px;
  font-size: 14px;
  /* 第二步 */

  position: absolute;
  right: 0;
  top: 100%;
  display: none;

}

ul.fm_snackchoose > li{
  border: 1px solid #F6EFE3;
  width: 100%;
}

ul.fm_snackchoose > li > a.snackbtn{
  /* border: 1px solid transparent; */
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  color: #F6EFE3;
}

ul.fm_snackchoose > li > a.snackbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

li.mapmap:hover ul.fm_snackchoose{
  /* border: 1px solid transparent; */
  /* 第三步 */
  display: block;
  z-index: 10;
}


ul.fm_dessertchoose{
  /* border: 1px solid transparent; */
  list-style: none;
  width: 100px;
  margin: 0;
  padding: 0;
  background-color: #FBC7C3;
  margin-right: 11px;
  font-size: 14px;
  /* 第二步 */

  position: absolute;
  right: 0;
  top: 100%;
  display: none;

}

ul.fm_dessertchoose > li{
  border: 1px solid #8C533D;
  width: 100%;
}

ul.fm_dessertchoose > li > a.dessertbtn{
  /* border: 1px solid transparent; */
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  color: #8C533D;
}

ul.fm_dessertchoose > li > a.dessertbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

li.mapmap:hover ul.fm_dessertchoose{
  /* border: 1px solid transparent; */
  /* 第三步 */
  display: block;
  z-index: 10;
}


ul.fm_restaurantchoose{
  /* border: 1px solid transparent; */
  list-style: none;
  width: 100px;
  margin: 0;
  padding: 0;
  background-color: #FABB7C;
  margin-right: 11px;
  font-size: 14px;
  /* 第二步 */

  position: absolute;
  right: 0;
  top: 100%;
  display: none;

}

ul.fm_restaurantchoose > li{
  border: 1px solid #8C533D;
  width: 100%;
}

ul.fm_restaurantchoose > li > a.restaurantbtn{
  /* border: 1px solid transparent; */
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1px 0;
  color: #8C533D;
}

ul.fm_restaurantchoose > li > a.restaurantbtn:hover{
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

li.mapmap:hover ul.fm_restaurantchoose{
  /* border: 1px solid transparent; */
  /* 第三步 */
  display: block;
  z-index: 10;
}


div.bgcolor{
  /* border: 1px solid pink; */
  background-color: #8C533Da3;
}

div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

div.snacktitle{
  /* border: 1px solid black; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 60px;
}

div.round_snack{
  /* border: 1px solid green; */
  display: inline-block;
  text-align: center;
  height: auto;
  width: 1200px;
  white-space:nowrap;
  margin-top: 20px;
}

div.outsideleft_snack{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  text-align: left;
}

div.leftbtn_snack{
  /* border: 1px solid transparent; */
  height: auto;
  width: 20px;
  color: #F6EFE3;
  background-color: #8C533D;
  font-size: 30px;
  white-space:nowrap;
}

div.leftbtn_snack:hover{
  color: #8C533D;
  background-color: #F6EFE3;
}

article.food_snack{
  /* border: 1px solid red; */
  display: inline-block;
  height: auto;
  width: 300px;
  white-space:normal;
  /* margin: 10px; */
  margin-top: 50px;
  white-space:nowrap;
}

a.food_block_snack img{
  /* border: 1px solid transparent; */
  z-index: 2;
}

div.content_block_snack{
  /* border: 1px solid yellow; */
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 20px;
  z-index: 1;
  margin: 20px;
  margin-top: -20px;
  line-height: 30px;
  white-space:normal;
}

div.block_snack{
  /* border: 1px solid pink; */
  margin: 18px 10px;
  /* width: 300px; */
}

div.content_block_snack span{
  /* border: 1px solid orange; */
  font-size: 22px;
  /* margin: 50px; */
}

article.food_big_snack{
  /* border: 1px solid red; */
  display: inline-block;
  height: 500px;
  width: 350px;
  white-space:normal;
  /* margin: 20px; */
  vertical-align: top;
  white-space:nowrap;
}

a.food_block_big_snack img{
  /* border: 1px solid transparent; */
  z-index: 2;
}

div.content_block_big_snack{
  /* border: 1px solid yellow; */
  /* width: 300px; */
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 20px;
  z-index: 1;
  margin: 20px;
  margin-top: -20px;
  line-height: 30px;
  font-size: 18px;
  white-space:normal;
}

div.block_big_snack{
  /* border: 1px solid pink; */
  margin: 18px 10px;

}

#middletitle_snack{
  /* border: 1px solid blue; */
  font-size: 26px;
}

div.outsideright_snack{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  text-align: right;
  white-space:nowrap;
}

div.rightbtn_snack{
  /* border: 1px solid blue; */
  height: auto;
  width: 20px;
  color: #F6EFE3;
  background-color: #8C533D;
  font-size: 30px;
  display: inline-block;
  white-space: nowrap;
  /* float: right; */
}

div.rightbtn_snack:hover{
  color: #8C533D;
  background-color: #F6EFE3;
}


div.bgcolor2{
  /* border: 1px solid pink; */
  background-color: #FBC7C3a3;
  white-space: nowrap;
}

div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

div.desserttitle{
  /* border: 1px solid black; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 60px;
}

article.food_dessert{
  /* border: 1px solid red; */
  display: inline-block;
  height: auto;
  width: 300px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
}

a.food_block_dessert img{
  /* border: 1px solid transparent; */
  z-index: 2;
}

div.content_block_dessert{
  /* border: 1px solid green; */
  color: #8C533D;
  background-color: #E0A39C;
  border-radius: 20px;
  z-index: 1;
  margin: 20px;
  margin-top: -20px;
  line-height: 30px;
}

div.外框_dessert{
  /* border: 1px solid transparent; */
  margin: 18px 10px;
  font-size: 24px;
  /* width: 300px; */
}

article.food_big_dessert{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: auto;
  white-space:normal;
  margin: 20px;
  vertical-align: top;
  text-align: center;
  margin-right: 0;
  margin-bottom: 40px;
}

a.food_block_big_dessert img{
  /* border: 1px solid transparent; */
}

div.content_block_big_dessert{
  /* border: 1px solid transparent; */
  display: inline-block;
  width: 300px;
  height: 80px;
  color: #8C533D;
  font-size: 28px;
  z-index: 5;
  background-image: url("../images/甜點首圖_星型背景.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
  margin-left: -250px;
  vertical-align: middle;
}

div.外框_big_dessert{
  /* border: 1px solid transparent; */
  width: auto;
  text-align: center;
  margin: 20px
}


div.bgcolor3{
  /* border: 1px solid pink; */
  background-color: #FABB7Ca3;
  height: 1000px;
}

div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

div.restauranttitle{
  /* border: 1px solid black; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 60px;
}

div.res_block1{
  /* border: 1px solid red; */
  display: inline-block;
  height: auto;
  width: 1200px;
  text-align: center;
  white-space: nowrap;
  margin: 20px;
}

div.res_block1 img{
  /* border: 1px solid yellow; */
  display: inline-block;
  height: auto;
  border-radius: 20px;
  white-space: nowrap;
  margin: 8px;
  /* margin-top: -40px; */
}

div.res_chooseleft{
  /* border: 1px solid black; */
  display: inline-block;
  height: auto;
  text-align: left;
  top: -140px;
  left: -372px;
}

div.res_left{
  /* border: 1px solid green; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 32px;
  color: #8C533D;
  background-color: #FABB7C;
  text-align: center;
  top: 250px;
  opacity: .8;
  padding: 5px;
}

div.res_chooseright{
  /* border: 1px solid black; */
  display: inline-block;
  height: auto;
  text-align: center;
  top: -50px;
  left: -423px;
}

div.res_right{
  /* border: 1px solid green; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 32px;
  color: #8C533D;
  background-color: #FABB7C;
  text-align: center;
  top: 250px;
  opacity: .8;
  padding: 5px;
}

a.res img{
  display: inline-block;
  vertical-align: middle;
}

div.res_chooseleft2{
  /* border: 1px solid black; */
  display: inline-block;
  height: auto;
  text-align: left;
  top: -150px;
  left: -372px;
}

div.res_left2{
  /* border: 1px solid green; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 32px;
  color: #8C533D;
  background-color: #FABB7C;
  text-align: center;
  top: 250px;
  opacity: .8;
  padding: 5px;
}

div.res_chooseright2{
  /* border: 1px solid black; */
  display: inline-block;
  height: auto;
  text-align: center;
  top: -40px;
  left: -455px;
}

div.res_right2{
  /* border: 1px solid green; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 32px;
  color: #8C533D;
  background-color: #FABB7C;
  text-align: center;
  top: 250px;
  opacity: .8;
  padding: 5px;
}

#rightimg1{
  top: 100px;
  left: -65px;
}

#rightimg2{
  top: 100px;
  left: -65px;
}
