@import "../css/bobo_headerfooter.css";

body{
  margin: 0;
  padding: 0;
}

.main{
  /* border: 1px solid transparent; */
  height: auto;
}

#首頁小吃_神農街裁切{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  left:0;
 }

#首頁咖底{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:450px;
  left:0;
}

div.title{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: -55px;
}

div.小吃{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #F6EFE3;
  line-height: 20px;
  margin-top: 40px;
}

div.title2{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: 120px;
}

div.首圖小吃{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.首圖小吃 img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.小吃圖敘述{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.敘述一{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #F6EFE3;
  background-color: #8C533D;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.敘述一 span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.敘述一 img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#首頁甜點_吃冰裁切{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  margin-top: 50px;
  left:0;
 }

#首頁粉底{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:1600px;
  left:0;
}

div.甜點{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #8C533D;
  line-height: 20px;
  margin-top: 40px;
}

div.title3{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: 65px;
}

div.首圖甜點{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.首圖甜點 img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.甜點圖敘述{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.敘述二{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FBC7C3;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.敘述二 span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.敘述二 img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#首頁餐廳_河樂廣場裁切{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  margin-top: 50px;
  left:0;
 }

#首頁黃底{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:2750px;
  left:0;
}

div.餐廳{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #8C533D;
  line-height: 20px;
  margin-top: 40px;
}

div.title4{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: 65px;
}

div.首圖餐廳{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.首圖餐廳 img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.餐廳圖敘述{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.敘述三{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FABB7C;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.敘述三 span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.敘述三 img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

div.title5{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: 50px;
}

div.map{
  /* border: 1px solid transparent; */
  margin-top: 20px;
  text-align: center;
}

div.mapchoose{
  /* border: 1px solid transparent; */
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  white-space:nowrap;
  /* margin-top: 20px; */

}

div.mapchoose ul.map_list{
  /* border: 1px solid transparent; */
}

ul.map_list li.mapmap{
  /* border: 1px solid transparent; */
  list-style: none;
  display: inline-block;
  /* text-align: center; */
  /* margin: 0px auto; */
  margin-right: 30px;
}

button.小吃按鈕{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 30px;
  font-size: 18px;
}

button.甜點按鈕{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FBC7C3;
  border-radius: 30px;
  font-size: 18px;
}


button.餐廳按鈕{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FABB7C;
  border-radius: 30px;
  font-size: 18px;
}

button.小吃按鈕:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.甜點按鈕:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.餐廳按鈕:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

div.聯絡我們{
  /* border: 1px solid transparent; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  white-space:nowrap;
}

div.聯絡表單{
  /* border: 1px solid transparent; */
  width: 350px;
  height: 300px;
  display: inline-block;
  color: #8C533D;
  background-color: #F6EFE3;
  margin-left: 30px;
  overflow: scroll;
  text-align: center;
}

div.聯絡表單::-webkit-scrollbar{
  /* border: 1px solid transparent; */
  background-color: #E0A39C;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

div.聯絡表單::-webkit-scrollbar-thumb{
  background-color: #FBC7C3;
  border-radius: 10px;
}

div.聯絡表單 form{
  /* border: 1px solid transparent; */
  width: 300px;
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
  margin-left: 50px;
}

div.聯絡表單 span{
  /* border: 1px solid transparent; */
  width: 700px;
  text-align: center;
  font-size: 24px;
}

.表單bar{
  /* border: 1px solid transparent; */
  width: 70%;
  font-size: 14px;
  color: #8C533D;
  /* background-color: #8C533D; */
}
