@import "../css/bobo_headerfooter.css";

body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.main{
  /* border: 1px solid transparent; */
  height: auto;
}

#AAAA{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  left:0;
 }

#BROWN{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:450px;
  left:0;
}

div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

div.title{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: -55px;
}

div.blockA{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #F6EFE3;
  line-height: 20px;
  margin-top: 40px;
}

div.title2{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: 120px;
}

div.blockB{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.blockB img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.blockC{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockD{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #F6EFE3;
  background-color: #8C533D;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockD span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockD img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#BBBB{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  margin-top: 50px;
  left:0;
 }

#PINK{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:1600px;
  left:0;
}

div.blockE{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #8C533D;
  line-height: 20px;
  margin-top: 40px;
}

div.title3{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: 65px;
}

div.blockF{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.blockF img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.blockG{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockH{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FBC7C3;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockH span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockH img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#CCCC{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  margin-top: 50px;
  left:0;
 }

#YELLOW{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:2750px;
  left:0;
}

div.blockI{
  /* border: 1px solid transparent; */
  height: 150px;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #8C533D;
  line-height: 20px;
  margin-top: 40px;
}

div.title4{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: 65px;
}

div.blockJ{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.blockJ img{
  /* border: 1px solid transparent; */
  border-radius: 20px;
  margin-right: 25px;
}

div.blockK{
  /* border: 1px solid transparent; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockL{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FABB7C;
  margin-right: 25px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockL span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockL img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

div.title5{
  /* border: 1px solid transparent; */
  height: 35px;
  width: 120px;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 15%;
  margin-top: 50px;
}

div.map{
  /* border: 1px solid transparent; */
  margin-top: 20px;
  text-align: center;
}

div.mapchoose{
  /* border: 1px solid transparent; */
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  white-space:nowrap;
  /* margin-top: 20px; */

}

div.mapchoose ul.map_list{
  /* border: 1px solid transparent; */
}

ul.map_list li.mapmap{
  /* border: 1px solid transparent; */
  list-style: none;
  display: inline-block;
  /* text-align: center; */
  /* margin: 0px auto; */
  margin-right: 30px;
}

button.aaa{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 30px;
  font-size: 18px;
}

button.bbb{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FBC7C3;
  border-radius: 30px;
  font-size: 18px;
}


button.ccc{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FABB7C;
  border-radius: 30px;
  font-size: 18px;
}

button.aaa:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.bbb:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.ccc:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

div.call{
  /* border: 1px solid gray; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  white-space:nowrap;
}

div.callme{
  /* border: 1px solid purple; */
  width: 350px;
  height: 300px;
  display: inline-block;
  color: #8C533D;
  background-color: #F6EFE3;
  margin-left: 30px;
  overflow: auto;
  text-align: center;
}

div.callme::-webkit-scrollbar{
  /* border: 1px solid red; */
  background-color: #E0A39C;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

div.callme::-webkit-scrollbar-thumb{
  background-color: #FBC7C3;
  border-radius: 10px;
}

div.callme form{
  /* border: 1px solid blue; */
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
}

div.callme span{
  /* border: 1px solid red; */
  width: 700px;
  text-align: center;
  font-size: 24px;
}

.bar{
  /* border: 1px solid green; */
  width: 70%;
  font-size: 14px;
  color: #8C533D;
  /* background-color: #8C533D; */
}
