@import "../css/bobo_headerfooter.css";

body{
  margin: 0;
  padding: 0;
  text-align: center;
}

img{
  max-width: 100%;
}

.main{
  /* border: 1px solid blue; */
  height: auto;
  text-align: center;
}

#AAAA{
  /* border: 1px solid blue; */
  height: auto;
  width: auto;
  /* width: 100%; */
  /* max-width: 1920px; */
  left:0;
 }

#BROWN{
  /* border: 1px solid transparent; */
  /* height: 400px;
  width: 100%;
  min-width: 1440px;
  top:450px;
  left:0; */
}

div.wrapper{
  /* border: 1px solid red; */
  width: 100%;
  margin-top: -85px;
  text-align: center;
  overflow: hidden;
  /* height: 400px; */
}

body > .wrapper {
    margin: 0px auto;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}
body > .wrapper > div {
    /* border: 1px solid green; */
    width: 100%;
    max-width: 1920px;
    height: auto;
    /* overflow: hidden; */
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.of{
  /* border: 1px solid yellow; */
  width: 100%;
  max-width: 1920px;
  position: absolute;
  /* position: fixed; */
  /* right: 0; */
  overflow: hidden;
  height: 480px;
  margin: 0;
}

div.of2{
  /* border: 1px solid pink; */
  width: 100%;
  max-width: 1920px;
  position: absolute;
  /* position: fixed; */
  /* right: 0; */
  overflow: hidden;
  height: 300px;
  margin: 0;

}

.wave-svg-shape {
    /* border: 1px solid black; */
    position: absolute;
    top: 300;
    right: -250px;
    width: 150%;
    max-width: 2400px;
    height: auto;
    transform: translateX(-100px);
    animation: fillUpSvg 10s ease-in-out infinite;
    margin: 0 auto;
    text-align: center;
}

.wave-svg-shape .wave-svg1 {
    /* display: fixed; */
    /* border: 1px solid red; */
    width: 110%;
    /* max-width: 1920px; */
    /* height: 500px; */
    /* overflow: hidden; */
    /* float: left; */
    margin: 0;
    animation: waveSvgAnim 6s ease-out;
    animation-iteration-count: 10;
    animation-direction: alternate;
    text-align: center;
    margin-top: 10px;
    fill: #8C533Da3;
}

.wave-svg-shape .wave-svg2 {
    /* border: 1px solid blue; */
    width: 110%;
    /* max-width: 1920px; */
    /* height: auto; */
    /* overflow: hidden; */
/*     float: left; */
    margin: 0;
    animation: waveSvgAnim 10s ease-in;
    fill: white;
    /* fill: black; */
    animation-iteration-count: 10;
    animation-direction: alternate;
    text-align: center;
    margin-top: 120px;
}


.wave-svg-shape .wave-svg3 {
  /* display: fixed; */
  /* border: 1px solid orange; */
  width: 110%;
  /* max-width: 1920px; */
  /* height: 500px; */
  /* overflow: hidden; */
  /* float: left; */
  margin: 0;
  animation: waveSvgAnim 6s ease-out;
  animation-iteration-count: 10;
  animation-direction: alternate;
  text-align: center;
  margin-top: 10px;
  fill: #FBC7C3a3;
}

.wave-svg-shape .wave-svg4 {
    width: 110%;
    /* height: auto; */
    /*     float: left; */
    margin: 0;
    animation: waveSvgAnim 6s ease-out;
    animation-iteration-count: 10;
    animation-direction: alternate;
    text-align: center;
    margin-top: 10px;
    fill: #FABB7Ca3;
}

@keyframes waveSvgAnim {
  0% {
    transform: translateX(calc(-100px * 2));
  }
  100% {
    transform: translateX(100px * 2);
  }
}


@media screen and (max-width: 575.98px){
  body > .wrapper > div{
    /* max-width: 1000px; */
  }
  div.of{
    height: 580px;
    margin-top: 25px;
    /* max-width: 1000px; */
    /* width: 100%; */
    /* height:600px; */

    /* height: auto; */
    /* height: 3000px; */
  }
  div.of2{
    height: 580px;
    margin-top: 20px;
    /* max-width: 1000px; */
  }
  .wave-svg-shape{
    /* max-width: 1000px; */
    right: -660px;
    width: 350%;
  }
  .wave-svg-shape .wave-svg1{
    max-width: 1200px;
    /* margin-top: 150px; */
  }
  .wave-svg-shape .wave-svg2{
    margin-top: 100px;
  }
  .wave-svg-shape .wave-svg3{
    /* max-width: 1200px; */

  }
  .wave-svg-shape .wave-svg4{
    /* max-width: 1200px; */
  }
}


div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: left;
}

div.title{
  /* border: 1px solid transparent; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 32px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: -25px;
  padding: 10px;
}

div.aAa{
  /* border: 1px solid black; */
  text-align: center;
}

div.blockA{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #F6EFE3;
  line-height: 20px;
  margin-top: 90px;
  /* margin-bottom: 30px; */
  /* padding-bottom: 40px; */
}

div.title2{
  /* border: 1px solid red; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: 150px;
  padding: 10px 30px;
}

article.ATC{
  /* border: 1px solid green; */
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

div.blockB{
  /* border: 1px solid red; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space: nowrap;
}

div.blockB img{
  /* border: 1px solid black; */
  border-radius: 20px;
  /* margin-right: 25px; */
}

div.blockC{
  /* border: 1px solid blue; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockD{
  /* border: 1px solid yellow; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #F6EFE3;
  background-color: #8C533D;
  /* margin-right: 25px; */
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockD span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockD img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#BBBB{
  /* border: 1px solid transparent; */
  height: auto;
  width: 100%;
  max-width: 1920px;
  margin-top: 50px;
  left:0;
 }

#PINK{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:1600px;
  left:0;
}

div.blockE{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 1000px;
  margin: 0px auto;
  font-size: 18px;
  color: #8C533D;
  line-height: 20px;
  margin-top: 90px;
}

div.blockF{
  /* border: 1px solid red; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.blockF img{
  /* border: 1px solid black; */
  border-radius: 20px;
  /* margin-right: 25px; */
}

div.blockG{
  /* border: 1px solid blue; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockH{
  /* border: 1px solid yellow; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FBC7C3;
  /* margin-right: 25px; */
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockH span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockH img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

#CCCC{
  /* border: 1px solid transparent; */
  height: auto;
  width: 100%;
  max-width: 1920px;
  margin-top: 50px;
  left:0;
 }

#YELLOW{
  /* border: 1px solid transparent; */
  height: 400px;
  width: 100%;
  min-width: 1440px;
  top:2750px;
  left:0;
}

div.blockJ{
  /* border: 1px solid blue; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 40px;
  white-space:nowrap;
}

div.blockJ img{
  /* border: 1px solid red; */
  border-radius: 20px;
  /* margin-right: 25px; */
}

div.blockK{
  /* border: 1px solid black; */
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  white-space:nowrap;
}

div.blockL{
  /* border: 1px solid yellow; */
  display: inline-block;
  height: auto;
  width: 292px;
  color: #8C533D;
  background-color: #FABB7C;
  /* margin-right: 25px; */
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 20px;
  white-space:normal;
}

div.blockL span{
  /* border: 1px solid transparent; */
  font-size: 16px;
}

div.blockL img{
  /* border: 1px solid transparent; */
  float: right;
  margin-top: 10px;
}

@media screen and (max-width: 575.98px){
  div.title{
    margin-top: 10px;
    font-size: 24px;
  }
  div.title2{
    font-size: 18px;
  }
  div.blockA{
    width: 85%;
    max-width: 600px;
    margin: 0 10px;
    margin-top: 50px;
    font-size: 14px;
    text-align: left;
  }
  div.blockE{
    width: 85%;
    max-width: 600px;
    font-size: 14px;
    text-align: left;
  }

  article.ATC{
    margin-right: 0;
  }

  div.blockD{
    /* width: 80%; */
    /* font-size: 8px; */
  }
  div.blockD span{
    /* border: 1px solid transparent; */
    /* font-size: 12px; */
  }
}
@media (min-width: 576px) and (max-width: 1199.98px){
  div.blockA{
    width: 90%;
    max-width: 1200px;
    margin: 0 10px;
    margin-top: 50px;
    font-size: 16px;
  }
  div.blockE{
    width: 90%;
    max-width: 600px;
    margin: 0 10px;
    font-size: 14px;
    margin-top: 90px;
    font-size: 16px;
  }
}
@media (max-width: 991.98px){
  article.ATC{
    margin: 0 30px;
  }
}

@media (min-width: 992px) and (max-width: 1249.98px){
  article.ATC:nth-child(2n){
    margin-right: 100px;
    margin-left: 40px;
  }
  article.ATC:nth-child(2n+1){
    margin-left: 100px;
    margin-right: : 40px;
  }
}




div.title5{
  /* border: 1px solid red; */
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 24px;
  color: #8C533D;
  text-align: center;
  vertical-align: middle;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin-left: 15%; */
  margin-top: 150px;
  padding: 10px 30px;
}

div.map_block{
  /* border: 1px solid red; */
  text-align: center;
  margin: 0 auto;
}

#myMap2 {
  width: 60vw;
  height: 300px;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (max-width: 575.98px){
  #myMap2{
    width: 90vw;
  }
}


div.map{
  /* border: 1px solid transparent; */
  margin-top: 20px;
  text-align: center;
}

div.mapchoose{
  border: 1px solid red;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  white-space:nowrap;
  /* margin-top: 20px; */

}

div.mapchoose ul.map_list{
  /* border: 1px solid transparent; */
}

ul.map_list li.mapmap{
  border: 1px solid blue;
  list-style: none;
  display: inline-block;
  /* text-align: center; */
  /* margin: 0px auto; */
  margin-right: 30px;
}

button.aaa{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #F6EFE3;
  background-color: #8C533D;
  border-radius: 30px;
  font-size: 18px;
}

button.bbb{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FBC7C3;
  border-radius: 30px;
  font-size: 18px;
}


button.ccc{
  /* border: 1px solid transparent; */
  /* margin-top: 20px; */
  height: auto;
  width: auto;
  color: #8C533D;
  background-color: #FABB7C;
  border-radius: 30px;
  font-size: 18px;
}

button.aaa:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.bbb:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

button.ccc:hover{
  /* border: 1px solid blue; */
  cursor: pointer;
  background-color: #F6EFE3;
  color: #8C533D;
}

@media screen and (max-width: 575.98px){
  div.mapchoose{
    width: 80%;
    /* padding: 0; */
  }
  ul.map_list{
    padding-left: 0;
  }
  ul.map_list li.mapmap{
    margin-right: 5px;
    /* padding: 0; */
  }
  button.aaa{
    font-size: 14px;
  }
  button.bbb{
    font-size: 14px;
  }
  button.ccc{
    font-size: 14px;
  }
}



div.call{
  /* border: 1px solid gray; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  white-space:nowrap;
}

div.call img{
  /* border: 1px solid yellow; */
}

div.callme{
  /* border: 1px solid purple; */
  width: 350px;
  height: 300px;
  display: inline-block;
  color: #8C533D;
  background-color: #F6EFE3;
  margin-left: 30px;
  overflow: auto;
  text-align: center;
}

div.callme::-webkit-scrollbar{
  /* border: 1px solid red; */
  background-color: #E0A39C;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

div.callme::-webkit-scrollbar-thumb{
  background-color: #FBC7C3;
  border-radius: 10px;
}

div.callme form{
  /* border: 1px solid blue; */
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
}

div.callme span{
  /* border: 1px solid red; */
  width: 700px;
  text-align: center;
  font-size: 24px;
}

input.small{
  /* border: 1px solid yellow; */
}

input.big{
  /* border: 1px solid blue; */
}

input.bar{
  /* border: 1px solid green; */
  width: 70%;
  font-size: 14px;
  color: #8C533D;
  display: inline-block;
}

.bar{
  /* border: 1px solid green; */
  width: 70%;
  font-size: 14px;
  color: #8C533D;
  /* background-color: #8C533D; */
}

@media screen and (max-width: 575.98px){
  div.call img{
    /* transform: scale(0.6); */
    height: 150px;
    width: 125px;
    vertical-align: super;
  }
  div.callme{
    margin-left: 0;
    width: 210px;
    height: 180px;
  }
  div.callme form{
    width: 170px;
  }
}
