@import "../css/bobo_headerfooter.css";

body{
  margin: 0;
  padding: 0;
}

#newstext{
  color: black;
}

.main{
  /* border: 1px solid blue; */
  height: 800px;
  width: 1440px;
  text-align: center;
  margin: 0 auto;
  background-image: url("../images/news_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  overflow: auto;
}

.main::-webkit-scrollbar{
  /* border: 1px solid yellow; */
  background-color: #F6EFE3;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.main::-webkit-scrollbar-thumb{
  /* border: 1px solid blue; */
  background-color: #8C533D;
  border-radius: 10px;
}

div.titleblock{
  /* border: 1px solid yellow; */
  height: auto;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

div.bigtitle{
  /* border: 1px solid orange; */
  display: inline-block;
  height: 50px;
  width: 230px;
  font-size: 32px;
  color: #8C533D;
  background-image: url("../images/標題色塊.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  /* margin-top: -150px; */
}

div.group1{
  /* border: 1px solid green; */
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}

article.box1{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
}

article.box2{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: -20px;
}

article.box3{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: -60px;
}

article.box5{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: 40px;
}

article.box6{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: 70px;
}

article.box8{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: -30px;
}

article.box9{
  /* border: 1px solid blue; */
  display: inline-block;
  height: auto;
  width: 387px;
  white-space:normal;
  margin: 20px;
  margin-top: 50px;
  font-size: 14px;
  position: relative;
  top: 20px;
}

a.food_block img{
  /* border: 1px solid transparent; */
  border-radius: 20px 20px 0 0;
}

div.content_block{
  /* border: 1px solid orange; */
  width: 100%;
  color: #8C533D;
  background-color: #F6EFE3;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  margin-top: -25px;
  line-height: 20px;
}

div.外框{
  /* border: 1px solid pink; */
  margin: 18px 10px;
  text-align: left;
  padding: 10px;
  line-height: 24px;
}

div.title{
  /* border: 1px solid yellow; */
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  /* margin: 0 auto; */
}
