@import "bobo_headerfooter_test.css";

body{
  margin: 0;
  padding: 0;
}

.main{
  /* border: 1px solid black; */
  height: auto;
  width: auto;
  text-align: center;
  background-color: skyblue
}

/* ul.container{
  border: 1px solid blue;
  display: inline-block;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 0;
  padding: 20px;
} */

ul.container{
  /* border: 1px solid blue; */
  display: flex;
  width: 1200px;
  margin: 0 auto;
  /* padding: 0; */
  padding: 20px;
}

ul.container li.sna_slider{
  /* border: 1px solid green; */
  width: 250px;
  height: 150px;
  margin: 50px;
  position: relative;
}

ul.container li.sna_slider div.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 150px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

ul.container .slick-center div.overlay{
  opacity: 0;
}

/* ul.container li.sna_slider img{
  border: 1px solid red;
  margin: 0 auto;
  width: 300px;
  height: auto;
  transition: all linear .4s;
} */

ul.container li.sna_slider img{
  width: 250px;
  height: 150px;
  transition: all linear .4s;
  /* margin: 0 auto; */
}

ul.container .slick-center{
  transform: scale(1.3);
}

/* .container .slick-center img{
  transform: scale(1.2);
} */

/* li.sna_slider{
  margin: 10% 0 10% 0;
  padding: 40% 20%;
} */
